<app-menu></app-menu>
<div class="holder my-flex">
  <div class="myContainer">
    <div id="titleContainer" class="my-flex">
      <h1>My orders</h1>
    </div>
    <hr>
    <div class="ordersContainer">
      <div *ngFor="let item of [].constructor(orderCount); let i = index">
        <div class="order">
          <div class="orderTitle my-flex">
          <h3>Order {{ i + 1 }}</h3>
        </div>
          <div class="orderContent">
            <p *ngFor="let product of orderProducts[i]" ><b>Product:</b> {{ product.name }}</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
