<app-menu></app-menu>
<div class="holder my-flex">
  <div class="myContainer">
    <div id="titleContainer" class="my-flex">
      <h1>My orders</h1>
    </div>
    <hr>
    <div class="ordersContainer">
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
      <div class="order">
        <div class="orderTitle my-flex">
          <h3>Order #1</h3>
        </div>
        <div class="orderContent">
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
          <p><b>Product:</b> productname</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
