.my-img-container {
    border: thin solid red;
    height: 50%;
    width: 100%;
    display: flex;
}

.card {
    width: 15vw;
    height: 40vh;
}

.fill {
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/img/product_pictogram.jpg');
}

.card-body {
    height: 50%;
}

.card-body > * { 
    margin: 0;
}

h5 {
    height: 20%;
}

p {
    height: 60%;
}

.my-btn-container {
    height: 20%;
}

.btn {
    margin: 0;
}