<div class="my-container my-flex">
    <div class="container overflow-auto">
        <div class="row">
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
        </div>
        <div class="ph"></div>
        <div class="row">
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
        </div>
        <div class="ph"></div>
        <div class="row">
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
            <div class="col-sm">
                <app-product></app-product>
            </div>
        </div>

        <div *ngFor=""></div>
    </div>
</div>
