<div class="my-container my-flex">
    <div class="container overflow-auto">
        <div *ngFor="let row of productRows" class="row">
            <div *ngFor="let product of row" class="col-sm">
                <app-product
                  *ngIf="!(product.id === null)"
                  [name]="product.name"
                  [description]="product.description"
                  [price]="product.price"
                  [quantity]="product.quantity"
                  [id]="product.id"></app-product>
            </div>
        </div>
    </div>
</div>
