<div class="myContainer">
    <div class="titleContainer">
        <h1>My shopping cart</h1>
    </div>
    <div class="cartHolder my-flex">
        <div class="cartContainer">
            <div class="propertiesContainer">
                <div id="descPropertyContainer">Description</div>
                <div id="removePropertyContainer">Remove</div>
                <div id="pricePropertyContainer">Price</div>
            </div>
            <hr>
            <div class="itemsContainer overflow-auto">
              <app-cart-item *ngFor="let product of products"
                [name]="product.name"
                [description]="product.description"
                [price]="product.price"
                [product_id]="product.id"
              ></app-cart-item>
            </div>
            <hr>
            <div class="summaryContainer">
                <div class="orderContainer">
                    <button>Order now</button>
                </div>
                <div class="totalPriceContainer my-flex">
                    <p id="priceText">Total: </p>
                    <p id="priceNumber">{{ totalprice }}$</p>
                </div>
            </div>
        </div>
    </div>
</div>
