<div class="myContainer">
    <div class="titleContainer">
        <h1>My shopping cart</h1>
    </div>
    <div class="cartHolder my-flex">
        <div class="cartContainer">
            <div class="propertiesContainer">
                <div id="descPropertyContainer">Description</div>
                <div id="removePropertyContainer">Remove</div>
                <div id="pricePropertyContainer">Price</div>
            </div>
            <hr>
            <div class="itemsContainer overflow-auto">
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120 $</p>
                    </div>
                </div>
                <hr>
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120 $</p>
                    </div>
                </div>
                <hr>
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120 $</p>
                    </div>
                </div>
                <hr>
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120 $</p>
                    </div>
                </div>
                <hr>
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120 $</p>
                    </div>
                </div>
                <hr>
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120 $</p>
                    </div>
                </div>
                <hr>
                <div class="cartItemContainer">
                    <div class="cartItemImg fill"></div>
                    <div class="cartItemNameDescContainer">
                        <div class="cartItemName"><b>Template item name</b></div>
                        <div class="cartItemDescription">Template description, which could be a litle longer.</div>
                    </div>
                    <div class="cartItemRemove my-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="cartItemPrice my-flex">
                        <p>120$</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="summaryContainer">
                <div class="orderContainer">
                    <button>Order now</button>
                </div>
                <div class="totalPriceContainer my-flex">
                    <p id="priceText">Total: </p>
                    <p id="priceNumber">200$</p>
                </div>
            </div>
        </div>
    </div>
</div>