.my-img-container {
    border: thin solid rgba(0,0,0,.125);
    height: 50%;
    width: 100%;
    display: flex;
}

.card {
    width: 15vw;
    height: 40vh;
}

.fill {
    background-size: cover;
    background-position: center;
    background-image: url('src/assets/img/product_pictogram.jpg');
}

.card-body {
    height: 50%;
}

.card-body > * {
    margin: 0;
}

.titleRowContainer {
    display: flex;
    align-items: center;
}

.titleRowContainer * {
    height: 100%;
}

.titleContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.svgContainer {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

svg:hover {
    cursor: pointer;
}

h5 {
    height: 20%;
    margin: 0;
    padding: 0;
}

p {
    height: 60%;
}

.my-btn-container {
    height: 20%;
    padding: 0;
    margin: 0;
    display: flex;
}

.btn {
    margin: 0;
}

.priceContainer {
    width: 40%;
}

.price {
    color: green;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.3vw;
}

.my-flex {
    padding: 0;
}

.btnContainer {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}