<nav class="navbar-expand-lg navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="main">WegShop</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="isLoggedIn" class="nav-link" href="/products">Products</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a id="cartLink" *ngIf="isLoggedIn" href="/cart" class="nav-link" href="/cart" tabindex="-1">
              <div>Cart(</div>
              <div id="elementNumber" [innerHTML]="db"></div>
              <div>)</div>
            </a>
          </li>
          <li>
            <a *ngIf="isLoggedIn" class="nav-link" href="/Frontend/src" (click)="handleLogout()">Logout</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
