<app-menu></app-menu>
<div class="holder my-flex">
    <div class="myContainer">
        <div id="titleContainer" class="my-flex">
            <h1>Your order has been recorded!</h1>
        </div>
        <div class="ph"></div>
        <div class="navigateContainer">
            <div class="my-flex">
                <button (click)="toOrders()" class="btn btn-warning">My orders</button>
            </div>
            <div class="my-flex">
                <button (click)="toProducts()" class="btn btn-success">Continue shopping</button>
            </div>
        </div>
    </div>
</div>
